<main role="main" class="container">
  <div class="starter-template">
    <h1>You are {{ user.name }}</h1>
    <a href="/logout" class="btn btn-default" style="background-color:#FC100D; color: white;">Cerrar sesión</a>
    <a href="users" class="btn btn-default" style="background-color:#46b8da; color: white;">Usuarios</a>
  </div>
</main>
