<div class="container">
    <form class="form" action="/create" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Select product name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Select product description">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="Select product price">
        </div>
        <button type="submit" class="btn btn-default success" style="border: 1px; border-bottom-style: solid; color:white; background-color: #4BB543">
            Add Product
        </button>
    </form>
</div>