<div class="container">
    <h1>Producto</h1>
</div>
<div class="container">
    <p><b>Name</b> {{product.name}}</p>
    <p><b>Description</b> {{product.description}}</p>
    <p><b>Price</b> {{product.price}}</p>
</div>
<div class="container">
    <a href="/delete/{{product.id}}" class="btn btn-default" style="background-color:#FC100D; color: white;">Borrar Producto</a>
    <a href="/" class="btn btn-default" style="background-color:#46b8da; color: white;">Regresar</a>
</div>